[Unit]
Description=go2rtc
After=network.target

[Service]
User={{ go2rtc_user }}
Group={{ go2rtc_group }}
Type=simple
ExecStart={{ go2rtc_dir }}/go2rtc
WorkingDirectory={{ go2rtc_dir }}

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
